body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.container {
  background-color: aquamarine;
  height: 400px;
  width: 600px;
}

#numberInput {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  margin-top: 30px;
}

#numberInput::placeholder {
  font-size: 15px;
  padding-left: 20px;
}

#checkNumber {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(29, 206, 56);
  cursor: pointer;
}

#output {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

#restart {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: rgb(29, 206, 56);
  cursor: pointer;

}

